<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('includes/head.ejs') %>
  <link rel="stylesheet" href="/error.css">
</head>
<body>
  <header class="header">
    <%- include('includes/header.ejs') %>
  </header>
  <main>
    <section class="error">
      <div class="error__title">
        Something went wrong!
      </div>
      <div class="error_subtitle">
        You must choose a valid image file and set the new width and/or the new height.
      </div>
    </section>
  </main>
</body>
</html>